.header-container{
    display: flex;
    
    align-items: center;
    gap: 30px;
    margin-top: 10px;
    margin-left: 5px;
    background-color: #ffffff;
}
.header-container h2{
    color: black;
    font-size: 40px;
    font-family: garamond;
}
.input-search{
    width: 900px;
    height: 45px;
    background-color:  #f4f2ee;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
}
.input-search:focus{
    outline: none;
}